{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'chat_app/styles.css' %}">

<div class="container">
  <div class="logout">
    <a href="{% url 'account_logout' %}">Logout</a>
  </div>
  <div class="chat">
    <div class="header">
      <h2>Chat with AI</h2>
    </div>
    <div class="chatbox">
      {% for chat in chat_messages %}
        <div>
          <strong>{{ child_name }}:</strong> {{ chat.message }}
        </div>
        <div>
            <strong>{{ robot_name }}:</strong> {{ chat.response }}
        </div>
        <hr>
      {% endfor %}
    </div>
    <div class="send-message">
      <div class="send-message form">
        <form method="post">
          {% csrf_token %}
          <input type="text" name="message" placeholder="Type your message here" autocomplete="off">
          <input type="submit" value="Send">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
