.google-login-btn {
    background-color: #4285f4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .google-login-btn:hover {
    background-color: #2a75f3;
    text-decoration: none;
  }
