body {
    background-color: lightblue;
    color: orange;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    height: calc(100vh - 30px);
  }
  
  .header {
    background-color: darkblue;
    border-radius: 10px;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 10px;
    text-align: center;
  }
  
  .logout,
  .chatbox {
    background-color: darkblue;
    border-radius: 10px;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .logout {
    width: 25%;
    overflow-y: auto;
  }
  
  .chat {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 50px);
  }
  
  .chatbox {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 20px;
    position: relative;
  }
  
  .chat-messages {
    position: relative;
    z-index: 0;
  }

  .send-message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: darkblue;
    padding: 20px;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
    max-width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
  }

  .send-message form {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    margin-right: 0.5rem;
    max-width: calc(100% - 150px);
  }
  
  input[type="submit"] {
    background-color: orange;
    color: darkblue;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    min-width: 150px;
  }
  
  input[type="submit"]:hover {
    background-color: darkorange;
  }
  
  .spinner {
    display: none;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

  #lottie-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3; /* You can adjust the opacity of the animation as needed */
    z-index: 1;
  }